<div *ngIf="panelItemData; else loading">

  <div class="row">
    <app-display class="col-md-6"
      [displayImageUrl]="panelItemData.displayUrl"
      [displayData]="panelItemData.dataArray"
      [displayTitle]="panelItemData.title"
      [isExpanded]="true"
      (toggledPanel)="onPanelToggle($event)">
    </app-display>
   
    <div class="col-md-6">
      <div class="font-indie indie-font-25 center-text">
        {{panelItemData.title}}'s details
      </div>
      <app-graph *ngIf="true" [graphData]="" [graphConfig]=""
        [size]=""></app-graph>
      <p>
        Details under construction.
      </p>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading title="{{panelId}}'s details"></app-loading>
</ng-template>

