<div class="row">
  <p class="col-md-12">
    {{budgetOverviewText}}
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card drill-card">
      <div class="card-body">
        <h5 class="font-roboto">Overview</h5>
        <div class="drill-card-body">
          <p class="font-thin">See an overview of your budget.</p>
        </div>
        
        <a [routerLink]="['./overview']" class="btn btn-info">Go to Overview</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card drill-card">
      <div class="card-body">
        <h5 class="font-roboto">Monthly</h5>
        <div class="drill-card-body">
          <p class="font-thin">See a monthly report of your budget.</p>
          <select class="form-control">
            <option>Default select</option>
          </select>
        </div>
        
        <div class="mt-3">
          <a [routerLink]="['./monthly']" class="btn btn-info">Go to </a>
        </div>
      </div>
    </div>
  </div>
</div>