<div class="center-text">
  <span class="font-indie indie-font-25">What are Market Indices?</span>
</div>
<div>
  <p class="font-indie">
    {{aboutText}}
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <a *ngFor="let item of aboutItems"
        [ngClass]="{'list-group-item':true, 'list-group-item-action':true, 
          'list-group-item-info':true, 'about-item':true, 'disabled':false}"
        [routerLink]="item.id"
        [preserveFragment]="false"
        [queryParamsHandling]=""
        routerLinkActive="active">
        {{item.title}}
      </a>
    </div>
    <button class="btn btn-success margin-top-button" (click)="onAddNewIndex()"
      [disabled]="isLoading">Add New Index</button>
  </div>
 
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>