<div [formGroup]="formGroup">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <span *ngIf="formGroup.get(fgKey)">
          {{formConfig[controlName]['required'] ? "*":""}}
        </span>
        {{formConfig[controlName]['label']}}:
      </span>
    </div>
    <div [ngSwitch]="formConfig[controlName].type">
      <input *ngSwitchCase="inputType" type="text" class="form-control"
        [placeholder]="formConfig[controlName]['defaultValue']" 
        [formControlName]="controlName">
  
      <textarea *ngSwitchCase="textAreaType" class="form-control" rows="3" [formControlName]="controlName"></textarea>
    </div>
  </div>
</div>