<div [formGroup]="formGroup" class="form-row align-items-center">
  <div class="col-md-12 mb-3">
    <div class="input-group" [ngSwitch]="formConfig[controlName].type">
      <div class="input-group-prepend">
        <span class="input-group-text">
          {{formConfig[controlName]['required'] ? "*":""}}
          {{formConfig[controlName]['label']}}:
        </span>
      </div>
      <input *ngSwitchCase="inputType" type="text" class="form-control" 
        [placeholder]="formConfig[controlName]['defaultValue']"
        [formControlName]="controlName">
      <textarea *ngSwitchCase="textAreaType" class="form-control" rows="3" 
        [formControlName]="controlName"></textarea>
    </div>
    <small class="form-text text-muted" *ngIf="formConfig[controlName].helptext">
      {{formConfig[controlName].helptext}}
    </small>
    <small class="form-text red-text"> 
      <span *ngIf="formGroup.get(controlName).touched && !formGroup.get(controlName).valid && formGroup.get(controlName).errors">
          Error:
        <span *ngIf="formGroup.get(controlName).errors['idIsNotAlphaNum']">
          Only alpha-numeric IDs are allowed.
        </span>
        <span *ngIf="formGroup.get(controlName).errors['idAlreadyExist']">
          This ID already exist, please choose another one.
        </span>
        <span *ngIf="formGroup.get(controlName).errors['required']">
          ID is required.
        </span>
      </span>
    </small>
  </div>
</div>