<div class="card">
  <!-- <img class="card-img-top" [src]="newEntryImg" alt="new entry img"> -->
  <div class="card-body">
    <h5 class="card-title">Add a New Market Index Entry</h5>
    <form [formGroup]="newFormFg" (ngSubmit)="onSubmit()">
      <div [formArrayName]="'dataArray'">
        <div *ngFor="let formfg of newFormObj; let i = index">
          <div class="text-muted mb-3" *ngIf="newFormObj.length>1">
            Adding entry #{{i+1}}
          </div>
          <div *ngFor="let fgKey of getObjectKeys(formfg)" class="ml-3">
            
            <form-input *ngIf="!isObjectArray(fgKey, formfg)" 
              [formGroup]="newFormFg.get('dataArray').at(i)" 
              [formConfig]="formfg" 
              [controlName]="fgKey">
            </form-input>

            <form-inputs *ngIf="isObjectArray(fgKey, formfg)"
              [formGroup]="newFormFg.get('dataArray').at(i).get(fgKey)"
              [formConfig]="formfg"
              [controlName]="fgKey"></form-inputs>

          </div>
        </div>
      </div>
      <button [disabled]="!newFormFg.valid" class="btn btn-primary fixed-width">Submit</button>
      <span *ngIf="!newFormFg.valid" class="text-muted">Fill in required fields *</span>
    </form>
  </div>
</div>