<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edit an Existing SiLing Entry</h5>
    <hr>
    <p>
      Which of the following would you like to make your edit in?
    </p>
    <div class="btn-group btn-group-lg">
      <button *ngFor="let bank of this.as.silingTypes" 
        type="button" class="btn btn-info"
        (click)="navigateToSiling(bank.id)">{{bank.title}}</button>
    </div>
  </div>
  <div class="card-body" *ngIf="currentlyEditing">
    <hr>
    <h5>Editing {{currentlyEditing}} Data</h5>
    <p>Please choose a date to continue to edit its data.</p>
    <select class="form-control" [(ngModel)]="silingTypeToEdit" (ngModelChange)="onSilingTypeEditChange()"
      [disabled]="this.as.loadingEditingPanel">
      <option value="undefined" disabled>Select a date</option>
      <option *ngFor="let singleData of silingDailyData" [ngValue]="singleData">{{singleData.data.date}}</option>
    </select>
    <span class="text-muted" *ngIf="this.as.loadingEditingPanel">Loading...</span>

    <div *ngIf="currentlyEditing && silingTypeToEdit">
      <p class="mt-3">Editing <span style="font-weight: 700">{{currentlyEditing}}</span> data on
        <span style="font-weight: 700">{{silingTypeToEdit.data ? silingTypeToEdit.data.date : ""}}</span>
        ({{silingTypeToEdit.entryId}}):
      </p>

      <form *ngIf="dataEditFormGroup" [formGroup]="dataEditFormGroup">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="text" class="form-control" [formControlName]="'balance'">
          <button class="btn btn-primary" (click)="resetEditingBalance()" 
            [disabled]="!balanceFormControl.dirty">Reset</button>
        </div>
        <div *ngIf="balanceFormControl.invalid && (balanceFormControl.dirty || balanceFormControl.touched)"
          class="text-muted" >
          Error:
          <div *ngIf="balanceFormControl.errors.required">
            {{emptyBalanceHint}}
          </div>
          <div *ngIf="balanceFormControl.errors.entryFormatError">
            {{badDollarFormatHint}}
          </div>
        </div>
        <button class="btn btn-success mt-3" data-toggle="modal" 
          data-target="#editingConfirmModal" (click)="onUpdate()" 
          [disabled]="balanceFormControl.invalid || this.as.isDailyEditing">
            {{this.as.isDailyEditing ? "Updating..." : "Update"}}</button>
      </form>

    </div>
  </div>
</div>


<div class="modal fade" id="editingConfirmModal">
  <siling-modal [modalTitle]="'Update Daily Entry'" [confirmText]="Confirm" 
    [modalBodyText]="modalConfirmText" (onModalConfirm)="onConfirm()"></siling-modal>
</div>