.data-info {
  margin-left: 0px;
}

.gains-rate {
  text-align: right;
}

.dollar-amount {
  text-align: left;
  padding-left: 0px;
  letter-spacing: 0.5px;
}

.img-fixed-height {
  max-height: 100px;
  max-width: 350px;
}

.btn-custom-gray {
  color: #fff;
  background-color: #a6a6a6;
}