<div class="card">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">Popular Market Indices</h5>
    <p class="card-text">
      A market index is a weighted average of several stocks or other investment vehicles from a section of 
      the stock market, and it is calculated from the price of the selected stocks. 
      Market indexes are intended to represent an entire stock market and track the market's changes over time. 
      Index values help investors track changes in market values over long periods of time. For example, 
      the widely used Standard and Poor's 500 Index is computed by combining 500 large-cap U.S. 
      stocks into one index value. Investors can track changes in the index's value over time and use it as 
      a benchmark for their own portfolio returns.
    </p>
    <p>
      Select a Market Index on the left to learn more about it.
    </p>
    <a [routerLink]="['/home']" class="btn btn-primary">Go back Home</a>
  </div>
</div>