/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.center-text {
  text-align: center;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-indie {
  font-family: 'Indie Flower', cursive;
}

.indie-font-25 {
  font-size: 25px;
}

.no-border-right {
  border-right: 0 !important;
}

.left-right-move-1 {
  margin-left: 1px;
  margin-right: 1px;
}

.numbers {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.big-number {
  font-size: 34px;
}

.med-number {
  font-size: 30px;
}

.small-number {
  font-size: 16px;
}

.spacing-half {
  letter-spacing: 0.5px;
}

.list-item {
  padding: .35rem 1.35rem !important;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }