<div *ngIf="allPanelData; else loading">
  <app-graph *ngIf="showOverviewGraph" [graphData]="graphData" [graphConfig]="graphConfig"
    [size]="graphSize"></app-graph>

  <div class="row">
    <div *ngFor="let panelData of allPanelData" class="col-md center-text">
      <app-display
        [displayImageUrl]="panelData.displayUrl"
        [displayData]="panelData.dataArray"
        [displayTitle]="panelData.title"
        [isExpanded]="false"
        (toggledPanel)="onPanelToggle(panelData.title)">
      </app-display>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>