<nav class="navbar navbar-expand-lg navbar-light sticky-top top-nav">
  <a class="navbar-brand" routerLink="home">
    <img src="favicon.png" width="30" height="30" 
      class="d-inline-block align-top" alt="siling1k logo">
    <span class="indie-font">SiLing1K</span>
  </a>
  <div class="navbar-nav">
    <a *ngFor="let item of navItemsList" 
      [ngClass]="{'nav-item':true, 'nav-link':true, 'disabled-link disabled':item.disabled}" [routerLink]="item.url" 
      routerLinkActive="active active-ul">{{item.display}}</a>
  </div>
</nav>